@import "../../util/variables";

.socialContainer {
  @include flex(center, center, column);
  @include size(auto, 10vw);
  position: fixed;
  font-family: $titlefont;
  right: 4rem;
  bottom: 2rem;
  z-index: 10000;
}


