@import "../../util/variables";
nav {
  @include size(auto, auto);
  font-family: $titlefont;
  position: fixed;
  top: 0;
  z-index: 9000;
  color: $brighterText;
  background-color: #25323eec;
  display: none;
}
nav ul {
  @include size(80%, 80%);
  @include flex(space-around, center, column);
  font-size: 1.25rem;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
nav li {
  @include size(auto, auto);
  @include flex(center, center, row);
  @include transition(0.3s);
  position: relative;
  padding: 1.5rem 0;
  letter-spacing: 0.1rem;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    color: $textColor;
  }
}

.hideNav {
  @include size(auto, auto);
  position: relative;
}
.menuIcon {
  font-size: 2.25rem;
  position: absolute;
  left: 1.2rem;
  top: 1.4rem;
  z-index: 11000;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: $mainColor;
  }
}
.showNav {
  @include size(100vh, 100vw);
  @include flex(center, center, column);
  position: relative;
  background-color: #1826310a;
}

@media (max-width: 576px) {
  nav {
    @include flex(center, center, column);
    border: 1px solid black;
  }
}
