@import "../../util/variables";
nav {
  @include size(10vh, 100%);
  @include flex(space-between, center, row);
  font-family: $titlefont;
  // background-color: $backgroundColorContrast;
}
nav ul {
  @include size(100%, 40%);
  @include flex(space-around, center, row);
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-right: 2rem;
}
nav li {
  @include size(50%, 25%);
  @include flex(center, center, row);
  position: relative;
  &:after {
    content: "";
    @include size(4px, 25%);
    position: absolute;
    bottom: 0;
    background-color: $backgroundColorGray;
    border-radius: 50%;
    &:hover {
      border: 1px solid red;
    }
  }
}
