@import "../../util/variables";

#roadmap {
  @include size(60%, auto);
  @include flex(space-around, center, column);
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom:0;
  left: 2.5rem;
  margin: auto;
  gap: 3rem;
  &::after {
    content: "";
    @include size(95%, 0);
    border: 1px solid $mainColor;
    position: absolute;
    z-index: 2000;
  }
}

$roadmap_icons: "home", "about", "showcase", "contact";

@each $roadmap_icon in $roadmap_icons {
  .roadmapIcon#{$roadmap_icon} {
    @include flex(center, center, row);
    @include size(4rem, 4rem);
    @include transition(0.3s);
    flex-shrink: 0;
    position: relative;
    color: $textColor;
    border-radius: 50%;
    z-index: 9000;
    background-color: $backgroundColorContrast;
    &:hover {
      cursor: pointer;
    }
    &:hover > .normalAnvil {
      opacity: 0.3;
    }
    &:hover > .hitAnvil {
      opacity: 0.3;
    }
  }
}

.roadmapText {
  color: $textColor;
  position: absolute;
  transform: rotateZ(-35deg);
}
.hitAnvil {
  font-size: 2rem;
  animation: hittingAnvil 1.5s ease-out;
  color: $mainColor;
}

.normalAnvil {
  font-size: 1.5rem;
}

@keyframes hittingAnvil {
  0% {
    transform: rotateZ(0);
    font-size: 1.25rem;
  }
  33% {
    transform: rotateZ(-30deg);
  }
  66% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0);
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  #roadmap {
    left: 1.7rem;
  }
}
@media (max-width: 768px) {
  #roadmap {
    left: 1rem;
    gap: 2rem;
  }
  @each $roadmap_icon in $roadmap_icons {
    .roadmapIcon#{$roadmap_icon} {
      @include flex(center, center, row);
      @include size(3.5rem, 3.5rem);
      @include transition(0.3s);
      position: relative;
      color: $textColor;
      border-radius: 50%;
      z-index: 9000;
      background-color: $backgroundColorContrast;
      &:hover {
        cursor: pointer;
      }
      &:hover > .normalAnvil {
        opacity: 0.3;
      }
      &:hover > .hitAnvil {
        opacity: 0.3;
      }
    }
  }
}
@media (max-width: 576px) {
  #roadmap {
    display: none;
  }
}
