@mixin size($height, $width) {
  height: $height;
  width: $width;
}
@mixin flex($j, $a, $d) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}
@mixin transition($time) {
  transition: all $time ease-out;
}

$mainColor: #F3CA40;
$mainTint:#FBEFC6;
$burntColor: #140a00;

$backgroundColor: #182631;
$backgroundColorContrast: #25323e;
$backgroundColorGray: #3b4043;
$backgroundColorTint: #3e4a57;
$textColor: #ccc9d0;
$brighterText: #e8e3f0;
$textShadow: #7f828c;
$shadowColor: #020b10;

$titlefont: "Montserrat Alternates", sans-serif;
$titlefontAlt: "Montserrat", sans-serif;
$subTitlefont: "Overlock", cursive;
$textFont: "Hind Guntur", sans-serif;
