@import "../../util/variables";

$inputContainerWidth: 80%;
$inputBorderRadius: 10px;
$inputPadding: 1rem 2rem;
$subContainerGap: 1rem;

#contactContainer {
  @include size(100vh, 100vw);
  @include flex(center, center, column);
}
.formContainer {
  @include flex(center, center, column);
  @include size(auto, 50%);
  border: 1px solid white;
  padding: 1rem 0;
  gap: 1.5rem;

  label {
    @include size(auto, 100%);
    @include flex(flex-start, center, row);
    font-family: $subTitlefont;
    font-size: 1.25rem;
  }
  label > span {
    color: $mainColor;
  }
  input {
    @include size(2rem, 100%);
    background-color: $backgroundColorContrast;
    font-family: $textFont;
    font-size: .9rem;
    border-radius: $inputBorderRadius;
    caret-color: $textColor;
    color: $textColor;
    border: none;
    outline: none;
    padding: 0.35rem 1rem 0.2rem 1rem;
  }
  textarea {
    @include size(12rem, 100%);
    background-color: $backgroundColorContrast;
    font-family: $textFont;
    
    border-radius: $inputBorderRadius;
    caret-color: $textColor;
    color: $textColor;
    border: none;
    outline: none;
    padding: .6rem 1rem;
    resize: none;
  }
  button {
    @include size(auto, 50%);
    @include transition(0.2s);
    background-color: $backgroundColor;
    color: $textColor;
    padding: 1rem 2rem;
    font-family: $titlefont;
    outline: none;
    border: 1px solid $backgroundColorTint;
    border-radius: 10px;
    &:hover {
      background-color: $backgroundColorContrast;
      color: $mainColor;
      border: 1px solid $mainColor;
    }
  }
}
.nameContainer {
  @include flex(center, center, column);
  @include size(auto, $inputContainerWidth);
  gap: $subContainerGap;
}
.emailContainer {
  @include flex(center, center, column);
  @include size(auto, $inputContainerWidth);
  gap: $subContainerGap;
}
.subjectContainer {
  @include flex(center, center, column);
  @include size(auto, $inputContainerWidth);
  gap: $subContainerGap;
}
.messageContainer {
  @include flex(center, center, column);
  @include size(auto, $inputContainerWidth);
  gap: $subContainerGap;
}
