@import "../../util/variables";

.roadmap {
  @include size(10vh, 4vw);
  position: fixed;
  top: 30rem;
  left: 4rem;
  border: 1px solid green;
}

.homeIcon {
  @include size(40px, 40px);
  background-color: white;
}
