@import "../util/variables";
@import "./partials/nav";
@import "./partials/socials";
@import "./partials/roadmap";
@import "./partials/home";
@import "./partials/about";
@import "./partials/showcase";
@import "./partials/contact";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $textColor;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: $backgroundColor;
}
*::-webkit-scrollbar-thumb {
  background-color: $textColor;
  border-radius: 10px;
}

#container {
  @include size(auto, 100vw);
  background-color: $backgroundColor;
  overflow-x: hidden;
  & > * {
    position: relative;
  }
}
#homeContainer {
  @include size(100vh, 100vw);
  overflow-y: hidden;
}
#aboutContainer {
  @include size(100vh, 100vw);
  @include flex(flex-start, center, column);
  padding: 3rem;
  overflow: hidden;
}
#showcaseContainer {
  @include size(auto, 100vw);
  @include flex(flex-start, center, column);
  gap: 2rem;
  padding: 3rem;
}

#contactContainer {
  @include size(100vh, 100vw);
  @include flex(flex-start, center, column);
  overflow: hidden;
  padding: 3rem;
  gap: 1rem;
}
.overlay {
  @include size(auto, auto);
}

@keyframes heat {
  0% {
    color: $mainColor;
  }
  100% {
    color: $burntColor;
  }
}
@media (max-width: 768px) {
  #aboutContainer {
    @include size(auto, 100%);
    padding: 3rem 1.5rem;
  }
  #showcaseContainer {
    padding: 3rem 1.5rem;
  }
  #contactContainer {
    padding: 3rem 1.5rem;
  }
}
