@import "../util/variables";
@import "./partials/nav";
@import "./partials/socials";
@import "./partials/roadmap";
@import "./partials/showcase";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $textColor;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: $backgroundColor;
}
*::-webkit-scrollbar-thumb {
  background-color: $textColor;
  border-radius: 10px;
  // border: 2px solid $backgroundColorContrast;
}

#container {
  @include size(auto, 100vw);
  background-color: $backgroundColor;
  overflow-x: hidden;
  & > * {
    position: relative;
  }
}
#homeContainer {
  @include size(100vh, 100vw);
}
#aboutContainer {
  @include size(100vh, 100vw);
}
#showcaseContainer {
  @include size(auto, 100vw);
  @include flex(space-around, center, column);
  border: 1px solid $mainColor;
}
#contactContainer {
  @include size(100vh, 100vw);
  @include flex(center, center, column);
}

.test {
  height: auto;
  width: 40vw;
  color: $textColor;
  background-color: $backgroundColor;
  font-family: $textFont;
  transition: all 0.4s ease-out;
  border: 1px solid green;
  &:hover {
    color: $mainColor;
    animation: heat 15s ease-out forwards;
  }
}

@keyframes heat {
  0% {
    color: $mainColor;
  }
  100% {
    color: $burntColor;
  }
}
