@import "../util/variables";

.container {
  @include size(100vh, 100vw);
  background-color: $backgroundColor;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  & > * {
    // @include flex(center,center,center);
    position: relative;
    scroll-snap-align: start;
  }
}
